{% extends "base.html" %}
{% block container %}
    <div class="row">
        <div class="col-md-10">
        {% block content %}

        {% endblock content %}
        </div>
        <div class="col-md-2" style="border-left: 1px solid lightgray; height:600px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-xxxxxxxxxxxx"
                 data-ad-slot="xxxxxxx"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
{% endblock container %}